---
import NavItem from "./NavItem.astro"
import { Image } from 'astro:assets';
import profileImage from "../assets/foto_perfil.webp";
---

<header id="header" class="fixed top-0 backdrop-blur-xs w-full overflow-visible z-99999 mb-10">
    <div class="m-auto max-w-6xl flex items-center justify-between gap-4 px-8 py-4">
        <Image class="inline-block justify-start size-14 rounded-full ring-2 ring-gray-900 outline -outline-offset-1 outline-white/10 object-cover" src={profileImage} alt="A description of my image." />
        <nav class="hidden md:block grow items-center">
            <ul class="flex flex-col justify-center overflow-x-hidden overflow-y-hidden md:flex-row gap-x-4">
                <NavItem href="#experiences" label="Experiences" />
                <NavItem href="#projects" label="Projects" />
                <NavItem href="#studies" label="Studies" />
            </ul>
        </nav>
        <div class="justify-end">
            <a href="/my-cv/ferran_simon_cv.pdf" target="_blank" class="px-2 py-1 rounded-sm hover:bg-primary/10 transition-colors">Download CV</a>
        </div>
    </div>
</header>