---
import Study from '@components/Study.astro';
---
<section id="studies">
    <h2 class="text-3xl font-heading mb-8">Studies</h2>
    <ul class="list-none flex flex-col gap-8">
        <Study startYear="2006" endYear="2013" title="Telecomunications Engineering" university="Universitat Politècnica de Catalunya">
            Gained a strong foundation in programming, algorithms, and data structures, as well as knowledge of computer networks and communication systems. Developed my thesis at Northeastern University, Boston, where I published a research paper on a Multi-Path Model and Sensitivity Analysis for Galvanic Coupled Intra-Body Communication Through Layered Tissues.
        </Study>
        <Study startYear="2010" endYear="2013" title="Electrical and Electronics Engineering" university="Universitat Politècnica de Catalunya">
            Assisted in the development of internal tools and contributed to code reviews. Gained experience in full-stack development and improved coding skills through mentorship and hands-on projects.
        </Study>
    </ul>
</section>