---
import Study from '@components/Study.astro';
---
<section id="studies">
    <h2 class="text-3xl font-heading mb-8">Studies</h2>
    <ul class="list-none flex flex-col gap-8">
        <Study startYear="2006" endYear="2013" title="Telecomunications Engineering" university="Universitat Politècnica de Catalunya">
            Gained a strong foundation in programming, algorithms, and data structures, as well as knowledge of computer networks and communication systems. Developed my thesis at Northeastern University, Boston, where I published a research paper on a Multi-Path Model and Sensitivity Analysis for Galvanic Coupled Intra-Body Communication Through Layered Tissues.
        </Study>
        <Study startYear="2010" endYear="2013" title="Electrical and Electronics Engineering" university="Universitat Politècnica de Catalunya">
            Acquired a solid understanding of electronics, circuit design, and signal processing. This degree complemented my telecommunications engineering studies by providing a deeper insight into the hardware aspects of communication systems and electronic devices. Developed my thesis at National Institute of Informatics (NII), Tokyo, where I analyzed GPS data from cars all over Japan to identify accidents caused by a typhoon.
        </Study>
    </ul>
</section>